.heading-c{
  text-align: center;
  margin-bottom: 15px;
}
.C-container{
   max-width: 1140px;
   margin:auto;
   display: grid;
   grid-template-columns: repeat(3,1fr);
   padding-bottom: 5rem;
   margin-left: 45px;
}
.C-card{
  background-color: black;
  padding: 1.2rem 1rem;
}
.C-card img{
  width: 100%;
  border-color: blueviolet;
  border-style: solid;
}
.C2-card img{
  width: 100%;
  border-color: blueviolet;
  border-style: solid;
}
.C3-card img{
  width: 100%;
  margin-left: 20px;
  border-color: blueviolet;
  border-style: solid;
  
}
.C-card p {
  margin-top: 5px;
  padding: 13px;
  width: 100%;
  height: 25px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: blueviolet;
}
.C2-card p {
  margin-top: 5px;
  padding: 13px;
  width: 100%;
  height: 25px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: blueviolet;
}
.C3-card p{
  margin-left: 20px;
  margin-top: 5px;
  padding: 13px;
  width: 100%;
  height: 25px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: blueviolet;
}
.c-title{
  color: white;
  padding: 1rem 0;
}
.c-details p {
  padding-bottom: 1rem ;
  font-size: 1.1rem;
  text-align: justify;
}
@media(max-width:740px){
  .C-container{
    max-width: 90%;
    margin: auto;
    grid-template-columns: 1fr;
  }
  .C3-card img{
     margin-left: 1px;
     margin-top: 15px;
  }
  .C3-card p{
    margin-left: 1px;
  }
}